$colors-dark: (
	primary: (
		400: hsl(200, 62%, 50%)
	),
	background: (
		300: hsl(0 0% 7%),
		400: hsl(0 0% 15%),
		500: hsl(0 0% 22%)
	),

	colors: (
		exit: hsl(354, 84%, 55%)
	)
);

$colors-light: ();

$active-theme: $colors-dark;

@each $colorTuple, $colorValues in $active-theme {
	@each $colorName, $colorValue in $colorValues {
		.clr-#{$colorTuple}-#{$colorName} {
			color: $colorValue;
		}
	}
}
