@use '../abstracts/' as *;

.context-menu {
    opacity: 0;
    pointer-events: none;

    background-color: $context-menu-background-clr;
    border: 2px solid $context-menu-border-clr;

    &:is(:focus, :focus-visible, :focus-within) {
        opacity: 1;
        pointer-events: all;
    }
}